# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.env
.vscode/
keys/
didcomm-dart/
secrets/
params/
secrets_v2/
docker-compose.yml
static/well-known-did.json
did.json


.DS_Store
coverage/*
config.yml
